#messages
{
margin-left: 0px;
margin-right: 0px;
background-color: rgba(51, 51, 51, 0.58);
border-radius: 2px;
list-style-type: none;
border: 0px solid ;
font-family: Arial;
font-size: 15px;
color:#C54D4D;
text-align: center;
}