#messages {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(24, 178, 146, 0.09);
    border-radius: 1px;
    list-style-type: none;
    border: 0px solid;
    font-family: Arial;
    font-size: 15px;
    color: #bd362f;
    text-align: center;
}
h2.element-invisible {
    font-family: Arial;
    color: #bd362f;
}
.messages {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(24, 178, 146, 0.24);
    border-radius: 1px;
    list-style-type: none;
    border: 0px solid;
    font-family: Arial;
    font-size: 15px;
    color: #bd362f;
    text-align: center;
}
.messages >ul> li {
    list-style-type: none;
}