/*Style Sheet to modify the drupal user pages*/

#header
{
visibility: hidden;
}

#messages > div > div > h2
{
font-size:18px;
}
#breadcrumb
{
visibility: hidden;
}

#page-title
{
visibility: hidden;
}

#content > div > div.tabs
{
visibility: hidden;
}

#block-system-main
{
position: relative;
width: 300px;
z-index: 15;
left: 40%;
margin: -100px 0 0 -150px;
}

#container > div > div > h2
{
color:#B1716F;
text-align:center;
}
.messages
{
list-style-type: none;
border: 0px solid ;
padding: 5px;
font-family: Arial;
font-size: 11px;
text-transform: uppercase;
color: #C8ABAD;
text-align: center;
}

#container > div > div > ul
{
list-style-type: none;
border: 0px solid ;
padding: 5px;
font-family: Arial;
font-size: 11px;
text-transform: uppercase;
color: #C8ABAD;
text-align: center;
}

.rh_custom
{
margin-left: 0px;
margin-right: 0px;
background-color:#FED2D3;
border-radius: 2px;
}
div#loginblock
{
width:30px;

}

.social-text
{
font-family: Arial;
font-size: 15px;
color: white;
}

.cceform
{
position: relative;
width: 300px;
z-index: 15;
left: 40%;
margin: 100px 0 0 -75px;
}

 
