<ul>
          
            <li >
              <ul>
                <li><a href="http://www.flyoticket.com/continent-europe/">Europe</a></li>
                <li><a href="http://www.flyoticket.com/destination-amsterdam/">Amsterdam</a></li>
                <li><a href="http://www.flyoticket.com/destination-berlin/">Berlin</a></li>
                <li><a href="http://www.flyoticket.com/destination-hallstatt/">Hallstatt</a></li>
                <li><a href="http://www.flyoticket.com/destination-lille-france/">Lille</a></li>
                <li><a href="http://www.flyoticket.com/destination-london/">London</a></li>
                <li><a href="http://www.flyoticket.com/destination-sicily/">Sicily</a></li>
                <li><a href="http://www.flyoticket.com/destination-cinque-terre/">Cinque Terre</a></li>
                <li><a href="http://www.flyoticket.com/destination-rome/">Rome</a></li>
                <li><a href="http://www.flyoticket.com/destination-greek-island/">The Greek Islands</a></li>
              </ul>
            </li>
            <li class="col-sm-2">
              <ul>
                <li class="dropdown-header"><a href="http://www.flyoticket.com/continent-africa/">Africa</a></li>
                <li><a href="http://www.flyoticket.com/destination-port-elizabeth/">Port Elizabeth</a></li>
                <li><a href="http://www.flyoticket.com/destination-livingstone-island/">Livingstone Islands</a></li>
                <li><a href="http://www.flyoticket.com/destination-pyramids-of-giza/">pyramids of Giza</a></li>
                <li><a href="http://www.flyoticket.com/destination-mombasa/">Monbasa</a></li>
                <li><a href="http://www.flyoticket.com/destination-casablanca">Casablanca</a></li>
                <li><a href="http://www.flyoticket.com/destination-alexandria/">Alexandria</a></li>
                <li><a href="http://www.flyoticket.com/destination-okavango-delta/">Okavango Delta</a></li>
                
              </ul>
            </li>
            <li class="col-sm-2">
              <ul>
                <li class="dropdown-header"><a href="http://www.flyoticket.com/continent-asia/">Asia</a></li>
                <li><a href="http://www.flyoticket.com/destination-andaman-islands/">Andaman islands</a></li>
                <li><a href="http://www.flyoticket.com/destination-mie-prefecture/">Mie Prefecture</a></li>
                <li><a href="http://www.flyoticket.com/destination-taipei/">Taipei</a></li>
                <li><a href="http://www.flyoticket.com/destination-hangzhou/">Hangzhou</a></li>
                <li><a href="http://www.flyoticket.com/destination-dubai/">Dubai</a></li>
                <li><a href="http://www.flyoticket.com/destination-tokyo/">Tokoyo</a></li>
                <li><a href="http://www.flyoticket.com/destination-hong-kong/">Hong Kong</a></li>
                <li><a href="http://www.flyoticket.com/destination-shanghai/">Shanghai</a></li>
                <li><a href="http://www.flyoticket.com/destination-beijing/">Beijing </a></li>
                <li><a href="http://www.flyoticket.com/destination-seoul/">Seoul</a></li>
                <li><a href="http://www.flyoticket.com/destination-kuala-lumpur/">Kuala Lumpur</a></li>
                <li><a href="http://www.flyoticket.com/destination-siberia/">Sideria </a></li>
                <li><a href="http://www.flyoticket.com/destination-new-delhi/">New Delhi</a></li>
                <li><a href="http://www.flyoticket.com/destination-bangkok/">Bangkok</a></li>
              </ul>
            </li>
             <li class="col-sm-2">
              <ul>
                <li class="dropdown-header"><a href="http://www.flyoticket.com/continent-south-america/">South America</a></li>
                <li><a href="http://www.flyoticket.com/destination-chiloe/">Chiloe</a></li>
                <li><a href="http://www.flyoticket.com/destination-santiago/">Santiago</a></li>
                <li><a href="http://www.flyoticket.com/destination-rio-de-janeiro/">Rio De janeiro </a></li>
                <li><a href="http://www.flyoticket.com/destination-mar-del-plata/">Mar Del Plata</a></li>
                <li><a href="http://www.flyoticket.com/destination-lake-titicaca/">Lake Titicaca</a></li>
                <li><a href="http://www.flyoticket.com/destination-peru/">Peru</a></li>
                <li><a href="http://www.flyoticket.com/destination-venezuela/">Venezuela</a></li>
                <li><a href="http://www.flyoticket.com/destination-argentina/">Argentina</a></li>
              </ul>
            </li>
             <li class="col-sm-2">
              <ul>
                <li class="dropdown-header"><a href="http://www.flyoticket.com/continent-north-america/">North America</a></li>
                <li><a href="http://www.flyoticket.com/destination-san-antonio/">San Antonio</a></li>
                <li><a href="http://www.flyoticket.com/destination-alcatraz/">Alcatraz</a></li>
                <li><a href="http://www.flyoticket.com/destination-volcan-paricutin/">Volcan Paricutin</a></li>
                 <li><a href="http://www.flyoticket.com/destination-aspen/">Aspen</a></li>
                <li><a href="http://www.flyoticket.com/destination-los-angeles/">Los Angeles</a></li>
                <li><a href="http://www.flyoticket.com/destination-florida/">Florida </a></li>
                 <li><a href="http://www.flyoticket.com/destination-new-york/">New York</a></li>
                <li><a href="http://www.flyoticket.com/destination-hearst-san-simeon/">Hearst San Simeon</a></li>
                <li><a href="http://www.flyoticket.com/destination-cuba/">Cuba </a></li>
                <li><a href="http://www.flyoticket.com/destination-bishop-museum/">Bishop Museum</a></li>
              </ul>
            </li>
             <li class="col-sm-2">
              <ul>
                <li class="dropdown-header"><a href="http://www.flyoticket.com/continent-oceania/">Oceania</a></li>
                <li><a href="http://www.flyoticket.com/destination-tasmania/">Tasmania</a></li>
                <li><a href="http://www.flyoticket.com/destination-kangaroo-islands/">Kangaroo Islands</a></li>
                <li><a href="http://www.flyoticket.com/destination-fraser-islands/">Fraser Islands </a></li>
                <li><a href="http://www.flyoticket.com/destination-fiji/">Fiji</a></li>
                <li><a href="http://www.flyoticket.com/destination-adelaide/">Adeliade</a></li>
                <li><a href="http://www.flyoticket.com/destination-sydney/">Sydney</a></li>
                <li><a href="http://www.flyoticket.com/destination-perth/">Perth</a></li>
                <li><a href="http://www.flyoticket.com/destination-brisbane/">Brisbane</a></li>
                <li><a href="http://www.flyoticket.com/destination-melbourne/">Melbourne</a></li>
                <li><a href="http://www.flyoticket.com/destination-darwin/">Darwin</a></li>
                <li><a href="http://www.flyoticket.com/destination-polynesia/">Polynesia</a></li>
              </ul>
            </li>
      </ul>